*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins", sans-serif;
}

body{
  background: url('../images/backround1.png') no-repeat center/cover;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-container{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
}

.login-box{
  background:rgba(0,0,50,0.7);
  padding:40px 50px;
  border-radius:15px;
  width:350px;
  text-align:center;
  color:white;
  box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.logo{
  width:60px;
  margin-bottom:10px;
}

input{
  width:100%;
  padding:10px;
  margin:8px 0;
  border:none;
  border-radius:6px;
  outline:none;
  font-size:15px;
}

.password-field{
  position:relative;
}

.toggle-password{
  position:absolute;
  right:10px;
  top:10px;
  cursor:pointer;
}

button{
  width:100%;
  background:#00cc33;
  color:white;
  border:none;
  padding:10px;
  border-radius:6px;
  font-size:16px;
  cursor:pointer;
  margin-top:10px;
}

button:hover{
  background:#00b22d;
}

.remember{
  font-size:13px;
  margin:5px 0;
}

.register-text{
  margin-top:15px;
  font-size:14px;
}

.register-text a{
  color:#00ccff;
  text-decoration:none;
}
